body {
  background-color: #046380 ;
  color: #EFECCA 
}

h1 {
    background-color: #EFECCA ;
    color: #046380; 
    text-align: center;
    font-size: 300%;
    text-shadow: 3px 3px #aaa;
}

dl {
  line-height: 50px;
  text-align: center;
  font-size: 150%;
}

dt {
  font-size: 100%;
  letter-spacing: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

dd {
  text-align: center;
  font-size: 90%;
  padding-right: 50px;
}

h2 {
  text-align: left;
  text-transform: capitalize;
  padding-left: 440px;
  padding-top: 50px;
}

p {
  text-align: center;
  width: 400px;
  height: 100px;
}

p.big {
  line-height: 200%;
  
}

h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}

img {
  border-radius: 100px;
  width: 542px;
  height: 860px;
}











